/* CSS Document */
body{text-align:center; margin:0px; padding:0px;}
.adminpanel{clear:both;}
.adminpanel #dashboardleftpanels,#dashboardtoppanels,#dashboardbodypanels,#dashboardrightpanels,#dashboardseperator,#dashboardbodypanelsfull{float:left;}
.adminpanel #dashboardleftpanels{width:13%;}
.adminpanel #dashboardtoppanels{width:85%;}
.adminpanel #dashboardbodypanels{width:60%; margin-left:20px;/*height:700px;*/}
.adminpanel #dashboardbodypanelsfull{margin-left:20px; width:85%;}
.adminpanel #dashboardseperator{width:2%; /*height:1200px;*/ }
.adminpanel #dashboardrightpanels{width:23%; /*height:1000px;*/ margin-top:5px; margin-left:22px;}
#leftpanel{width:100%; background-color:#ECECEC; /*height:700px;*/}
#leftpanel a{text-decoration:none;}
#leftpanel #dbLeftPanel{background-image:url(../../images/tabBG.JPG); background-repeat:no-repeat;clear:both; height:30px; color:#5E99B3; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold; font-size:12px;}
#leftpanel #dbLeftPanel #db{padding-top:8px; text-align:left; margin-left:10px;}
#leftpanel #dbSubmenu{clear:both;width:155px;height:25px; background-image:url(../../images/submenuBG.JPG); font-size:11px; font-family:Georgia, "Times New Roman", Times, serif; color:#5E99B3; float:left; list-style:none; text-align:left;}

#dashboardbodypanels #contentTitle{clear:both;}
#dashboardbodypanels #contentTitle #contentLogo{float:left;}
#dashboardbodypanels #contentTitle #contentText{float:left; margin-left:30px; margin-top:10px;color:#464646; font-family:Georgia, "Times New Roman", Times, serif; font-size:25px;}
.adminpanel #dashboardbodypanels #login tr{line-height:2.2em; font-family:Georgia; font-size:12px; color:#999999;}
#dashboardbodypanels #titleInputBox{clear:both;}
#dashboardbodypanels #titleInputBox #createTitle{width:100%; height:25px; font-size:20px; -moz-border-radius:5px 5px 5px 5px;}
#dashboardbodypanels #contentInputBox #createContent{clear:both; margin-top:40px; width:100%; font-size:16px;}
#dashboardbodypanels #tabLogo{ clear:both; /*width:100%;*/ text-align:left; margin-bottom:20px; font-family:Georgia, "Times New Roman", Times, serif;font-size:16px; color:#464646;}
#dashboardbodypanels #showAll{clear:both; width:100%; height:35px; margin-top:5px;background-image:url(../../images/titleBG.jpg); font-family:Georgia; font-size:13px;}
#dashboardbodypanels #showAll ul{display:inline; color:#21759B;}
#dashboardbodypanels #showAll ul li{float:left; width:25%;margin-top:8px;list-style:none; text-align:left;}

#dashboardbodypanels #showAll-exp{clear:both; width:100%; height:35px; margin-top:5px;background-image:url(../../images/titleBG.jpg); font-family:Georgia; font-size:13px;}
#dashboardbodypanels #showAll-exp ul{display:inline; color:#21759B;}
#dashboardbodypanels #showAll-exp ul li{float:left; width:18%;margin-top:8px;list-style:none; text-align:left; }


#toppanel{margin-left:20px; width:100%; height:30px; *height:30px; border-bottom:1px solid #CCCCCC; text-align:left; clear:both;}
#toppanel #admintext,#userlogin{font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#999999; font-weight:bold; margin-top:10px;}
#toppanel #admintext{float:left;}
#toppanel #userlogin{float:right; margin-right:30px;}
#toppanel #userlogin a{text-decoration:none;}
#toppanel #userlogin a:active{color:#999999;}
#toppanel #userlogin a:visited{color:#999999;}
#toppanel #userlogin a:hover{color:#FF9900;}

/*      Dashboard Page   */
#dashboardRight, #dashboardLeft{  width:49%;}
#dashboardRight{float:left; }     
#dashboardRight table th{color:#ad9f9c; text-align:left; padding-left:10px;}    
#dashboardRight table tr td{padding-left:10px; text-align:left;}
#dashboardLeft{float:right;}
#clear{clear:both;}


/*     createTab Page       */

.adminpanel #content-body{ background-color:#FF9900; width:85%; height:900px; float:right;}

/*      Create User        */
.adminpanel #dashboardbodypanelsfull #login tr{line-height:2.2em; font-family:Georgia; font-size:12px; color:#999999;}
.adminpanel #dashboardbodypanelsfull #contentTitle{/*margin-left:25px*/;clear:both;}
.adminpanel #dashboardbodypanelsfull #contentTitle #contentLogo{float:left;}
.adminpanel #dashboardbodypanelsfull #contentTitle #contentText{float:left; margin-left:30px; margin-top:10px;color:#464646; font-family:Georgia, "Times New Roman", Times, serif; font-size:25px;}
.adminpanel #dashboardbodypanelsfull #showAll{clear:both; width:100%; font-size:16px; height:35px; background-color:#EFEFEF; margin-top:5px;}
.adminpanel #dashboardbodypanelsfull #showAll ul li{display:inline;float:left;}

/*  common css for each right panel      */
#commonRight{width:100%; height:160px; background-color:#FFFFFF; border:1px solid #CCCCCC; clear:both; margin-bottom:20px;}
#commonRight #commonHeader{width:100%; height:30px; background-color:#F4F4F4; font-family:Georgia, "Times New Roman", Times, serif; color:#464646; text-align:left; font-weight:bold; font-size:15px;}
#rightExp{overflow:auto; clear:both; height:130px;}
#yourExp{margin-left:15px; *padding-right:46%; font-family:Georgia, Times New Roman, Times, serif; font-size:12px; color:#5E99B3; float:left; text-align:left;padding-bottom:8px;}
#yourExp a:active{color: rgb(94, 153, 179);}
#yourExp a:visited{color: rgb(94, 153, 179);}
#yourExp a:hover{color:#FF9900;}
#nothing{margin-top:50px;}

/*  Show Pages    */
#showAllHeaders{ clear:both;font-family:Georgia; color:#21759B; font-weight:bold; width:100%; font-size:15px; height:35px; margin-top:5px;background-image:url(../../images/titleBG.jpg);}
#showAllHeaders ul li{display:inline;float:left; text-align:left;}
#showCheckBox{margin-bottom:10px; margin-top:10px; float:left; font-family:Georgia, 'Times New Roman', Times, serif; color:#999999; font-size:13px;}
#showCheckBox select{ font-family:Georgia, 'Times New Roman', Times, serif; color:#999999; font-size:13px; width:100px;}
#applyButtons{float:left; margin-left:10px; margin-top:-4px;}