body{background-image:url(../images/wrapperBG.jpg); text-align:center; margin:0px; padding:0px;}
.wrapper-header{width:1024px; margin:0 auto 0 auto; text-align:center;}
.wrapper-content{width:1024px; margin:0 auto 0 auto; background-color:#FFFFFF;}
.wrapper-footer{width:1024px; margin:0 auto 0 auto; text-align:center;}
.header{background-image:url(../images/header.jpg);clear:both; height:99px;}
.header #iitlogo{float:right; margin-right:10px; margin-top:5px;}   
#login_registration{background-image:url(../images/loginBG.png); height:50px; }
#login_registration a{text-decoration:none;color:#FFFFFF; font-family:Geneva, Arial, Helvetica, sans-serif; font-size:12px;}
#login_registration #loginn{/*margin-left:10px;*/}
#login_registration #home,#loginn,#regs{border-right:1px solid #000000;float:left; width:90px; margin-top:10px;}

/*  left-panel Page    */
.leftPanel{ width:100%; background-color:#FFFFFF;}
.leftPanel #leftUpper{height:350px; margin-left:10px; overflow:hidden;}
.leftPanel #leftUpper #upperHeader{ margin-top:4px; clear:both; text-align:left; font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#000000;}
.leftPanel #leftUpper #upperContent #featuredTitle{ clear:both;margin-top:5px;text-align:left;font-family:Georgia, "Times New Roman", Times, serif;font-size:15px;color:#000000;}
.leftPanel #leftUpper #upperContent #featuredImage{ clear:both;}
.leftPanel #leftUpper #upperContent #featuredText{ margin-top:5px; text-align:justify;line-height:1.5em; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; color:#999999;}
.leftPanel #leftLower{ height:350px; margin:10px; overflow:hidden;}
.leftPanel #leftLower #lowerHeader{ margin-top:4px; clear:both; text-align:left; font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#000000;}
.leftPanel #leftLower #sponsorImage { float:left; }
.leftPanel #leftLower #sponsorText {text-align:justify; line-height:1.5em; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; color:#999999;} 

/*  right-panel Page    */
.rightPanel{/*height:600px;*/ width:100%;}
.rightPanel #rightUpper{ width:100%; height:200px;}
.rightPanel #rightUpper #rightUpperBanner{}
.rightPanel #rightLower{ width:100%; margin-top:5px;}
.rightPanel #rightLower #rightLeft{width:70%; float:left; background-color:#FFFFFF;} /*min-height:400px;*/
.rightPanel #rightLower #rightRight{ margin-left:1px; width:29%; /*height:200px;*/ float:right; background-color:#FFFFFF; }
.rightPanel #rightLower #rightLeft #headerBG{clear:both; background-image:url(../images/experimentHeaderLogo.jpg); background-repeat:no-repeat; height:31px; color:#FFFFFF; font-size:18px; padding-top:4px; font-family:Georgia, "Times New Roman", Times, serif;}
.rightPanel #rightLower #rightLeft #expLogo{background-image:url(../images/expLogo.gif); float:left; width:48px; height:48px;}
.rightPanel #rightLower #rightRight #headerBG{ clear:both; background-image:url(../images/philosopyBG.jpg); background-repeat:no-repeat; height:31px; color:#FFFFFF; font-size:18px; padding-top:4px; font-family:Georgia, "Times New Roman", Times, serif;}
.rightPanel #rightLower #rightRight #rightRightImage{ margin-top:5px;float:left; background-image:url(../images/earth.jpg); width:50px; height:50px;}
.rightPanel #rightLower #rightRight #rightRightText{margin-top:5px; text-align:justify; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; color:#999999; line-height:1.5em;}


/*  Home page     */
.experimentTitleDiv{clear:both; height:80px; margin-bottom:5px; border:0px solid red;}
.experimentTitleDiv #experimentLogo{float:left; background-image:url(../images/expLogo.gif); width:48px; height:48px;}
.experimentTitleDiv #expTitleDescp{float:left; margin-top:4px; width:430px;}
.experimentTitleDiv #expTitle{clear:both; margin-left:3px; text-align:left; font-family:Verdana,Geneva,sans-serif; font-size:14px; color:#3F5C10; font-weight:bold;}
.experimentTitleDiv #expTitle a{text-decoration:none; color:#3F5C10;}
.experimentTitleDiv #expTitle a:active{color:#3F5C10;}
.experimentTitleDiv #expTitle a:visited{color:#3F5C10;}
.experimentTitleDiv #expTitle a:hover{color:#FF0000;}
.experimentTitleDiv #expDescp{float:left; margin-left:3px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

/* Login Page */
.login-form #logintitle{float:left; margin:15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:20px; color:#999999;clear:both;}
.login-form #divseperator{clear:both;}
.login-form #loginbyothers,#logindirect{width:48%;float:left;}
.login-form #loginbyothers{margin-left:10px;}
.login-form #logindirect{margin-right:6px;}
.login-form #loginseperator{float:left;width:2%; }
.login-form #otherHeader{width:90%; margin-left:5%; background-color:#0E8EE1;height:25px; color:#FFFFFF;font-family:Arial;font-weight:bold;font-size:12px; clear:both;}
.login-form #openIdText{width:90%;margin-left:5%; margin-top:5px; font-size:11px; text-align:justify; font-family:Verdana, Arial, Helvetica, sans-serif;}
#logindirect #login{margin-top:20px;}
#logindirect #login #username,#password{clear:both; margin-bottom:5px;}
#loginMsg{clear:both; width:70%; height:20px; margin:0 auto 0 auto; margin-bottom:20px; text-align:center; font-family:Georgia, "Times New Roman", Times, serif; color:#FF0000; font-size:15px;}


/*   Experiment Page    */
.wrapper-content #experimentTitle{width:98%;  min-height:68px; margin:0 auto 0 auto; clear:both; font-size:30px; text-align:left; }
.wrapper-content #experimentTitle #experimentTitleText{padding-top:15px; margin-left:15px;}
.wrapper-content #tabMenu{ clear:both; width:98%; height:69px; margin:0 auto 0 auto; background-image:url(../images/experimentCanvasTopBg.jpg); background-repeat:no-repeat;}
.wrapper-content #tabMenu a{text-decoration:none;}
.wrapper-content #left{width:28%; float:left;}
.wrapper-content #right{width:70%; float:right; margin-right:10px; }
#eachTab{margin-right:8px; float:left; background-color:#999999;height:69px; width:108px; background-image:url(../images/tabGUIBGShadow.JPG); height:69px;}
#TabHeader{clear:both;margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:25px; width:100%; background-color:#cccccc;}
#eachTab #eachTabIcon{text-align:center;margin-top:5px;}
#eachTab #eachTabTitle{margin-top:-4px; color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
/*#experimentCanvas{margin:0 auto 0 auto; width:97%; border:5px solid #999999; clear:both;background-color:#FFFFFF; min-height:400px;} */
#experimentCanvas{margin:0 auto 0 auto; width:100%; clear:both; min-height:400px; background: #fff url(../images/experimentCanvasBG.jpg) repeat-y; }
#experimentCanvasSubDiv ul{margin-left:15px;}


/*  Footer Page */
.footerDiv{ background-image:url(../images/footer-banner.jpg); background-repeat:no-repeat; height:29px;}
